facebook-ingest/serverless-parts/sf-FacebookAccessLoader-Definition.yml
Comment: "Facebook Ads State Machine"
StartAt: FacebookAccessLoader
States:

  FacebookAccessLoader:
    Type: Task
    Resource:
      Fn::GetAtt: [FacebookAccessLoaderLambdaFunction, Arn]
    Retry:
      - ErrorEquals:
          - Lambda.ServiceException
          - Lambda.AWSLambdaException
          - Lambda.SdkClientException
        IntervalSeconds: 2
        MaxAttempts: 6
        BackoffRate: 2
    Catch:
      - ErrorEquals: ["States.ALL"]
        Next: SendErrorsToSNS
        ResultPath: $.error
    Next: mapStateGlueJob

  mapStateGlueJob:
    Type: Map
    ItemsPath: $
    MaxConcurrency: 1 # TODO/FEAT/MoveToConf
    Iterator:
      StartAt: StartIngestion
      States:
        StartIngestion:
          Type: Task
          Resource: arn:aws:states:::glue:startJobRun.sync
          Parameters:
            JobName.$: $.resource_name
            Arguments:
              "--s3_data_bucket.$": $.s3_data_bucket
              "--s3_code_bucket.$": $.s3_code_bucket
              "--latest_epoch.$": $.latest_epoch
              "--account_id.$": $.account_id
              "--long_live_user_token.$": $.long_live_user_token ## FIXME/Security
              "--s3_key_conf_file.$": $.s3_key_conf_file
              "--fb_secret_name.$": $.fb_secret_name
          ResultPath: $.Arguments
          Catch:
            - ErrorEquals:
                - States.ALL
              Comment: ConditionalCheckFailedException
              ResultPath: $
              Next: CheckError
          End: true
        CheckError: # TODO/Feat/ImproveMonitoring
          Type: Pass
          End: true
    Catch:
      - ErrorEquals: ["States.ALL"]
        Next: SendErrorsToSNS
    Next: ExecutionSucceded

  # https://www.serverless.com/plugins/serverless-step-functions/#catch-failure
  SendErrorsToSNS:
    Type: Task
    Resource: arn:aws:states:::sns:publish
    ResultPath: Null
    Catch:
      - ErrorEquals: ["States.ALL"]
        Next: ExecutionFailed
    Parameters:
      TopicArn: {"Ref": "SNSTopic"}
      Subject: (General.ERROR) - ${self:provider.stage}_${self:service}-${aws:accountId}
      Message:
        Input.$: $
    Next: ExecutionFailed

  ExecutionSucceded:
    Type: Succeed

  ExecutionFailed:
    Type: Fail